.command{
    background-color: blueviolet;

}
.myimage{
    text-align: right;



}

button1{
    background-color:pink;
    font-size: 30px;
    
}
button{
    background-color: white;
    font-size: 30px;
}